.brousers__list {
	width: 195px;
	@include list-clear();
	margin: 0 auto;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.brousers__item {
	width: 25px;
	height: 25px;
	background-image: url("../img/browser icons.png");
	background-repeat: no-repeat;
}

.brousers__item--chrome {
	background-position: 25% center;
}

.brousers__item--ie {
	background-position: 50% center;
}

.brousers__item--safari {
	background-position: 75% center;
}

.brousers__item--opera {
	background-position: 100% center;
}

.brousers__text {
	margin-top: 25px;
	padding: 0 15px;
	@include font-set(14px, 18px, 300);
	text-align: center;
	color: #bbbbbb;
	opacity: 0.4;
	font-family: 'Arial', sans-serif;
}

@media (min-width: 960px) {
	.brousers__text {
		text-align: right;
		padding-left: 0;
		padding-right: 0;
	}

	.brousers {
		display: flex;
		justify-content: flex-end;
		padding-right: 45px;
	}

	.brousers__list {
		margin-right: 0;
	}
}