.footer-menu__list {
	max-width: 290px;
	@include list-clear();
	margin: 0 auto;
	
}

.footer-menu__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-menu__title {
	margin-top: 42px;
	margin-bottom: 20px;
	@include font-set(26px, 26px, 200);
	color: #444444;
}

.footer-menu__container:nth-child(3) {
	margin-top: 20px;
}

.footer-menu__item {
	margin-bottom: 13px;
	text-align: center;
}

.footer-menu__link {
	@include font-set(16px, 16px, 300);
	color: #bbbbbb;
	opacity: 0.8;
}

@media (min-width: 660px) {
	.footer-menu {
		display: flex;
		justify-content: space-around;
	}

	.footer-menu__container:nth-child(3) {
		margin-top: 0;
	}
}

@media (min-width: 960px) {
	.footer-menu {
		box-sizing: border-box;
		padding-left: 45px;
		justify-content: space-between;
	}

	.footer-menu__list {		
		margin-left: 0;
		align-items: flex-start;

		&:not(:last-child) {
			margin-right: 90px;
		}
	}

	.footer-menu__item {
		margin-bottom: 13px;
		text-align: left;
	}

	.footer-menu__brousers {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 24%;
	}

	.footer-menu__title {
		margin-top: 25px;
	}

	.footer-menu__container {
		align-items: flex-start;
		max-width: 210px;

		&:not(:last-child) {
			margin-right: 75px;
		}
	}

	.footer-menu__container:nth-child(2) {
		margin-left: 25px;
	}

	.footer-menu__container:nth-child(3) {
		margin-top: 0;
		margin-right: 20px;
	}
}