.footer-menu__list {
	@include list-clear();
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-menu__title {
	margin-top: 40px;
	margin-bottom: 25px;
	@include font-set(26px, 26px, normal);
	color: #444444;
}

.footer-menu__item {
	margin-bottom: 15px;
	text-align: center;
}

.footer-menu__link {
	@include font-set(16px, 16px, normal);
	color: #bbbbbb;
	opacity: 0.6;
	text-align: center;
}