.page-header {
	position: relative;
	min-height: 110px;
	background-color: #000000;
	background-image: url("../img/header-bg-desktop.jpg");
	background-repeat: no-repeat;
	background-position: 54% 27%;
}

@media (min-width: 960px) {
	.page-header {
		display: flex;
		box-sizing: border-box;//для IE, ибо не работает flex-end ><
		flex-direction: column;
		justify-content: flex-end;
		min-height: 155px;
		background-position: 50% 23%;
		padding-top: 110px;//для IE, ибо не работает flex-end ><
	}	
}