.page-main {
	position: relative;
	margin-top: -50px;
	background-color: #e9e9e9;
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
}

.page-main__search input {
	display: none;
	position: absolute;
	top: -50px;
	right: 60px;
	padding: 11px;
	width: 190px;
	box-sizing: border-box;
	background-color: #eeeeee;
	@include font-set(14px, 14px, normal);
	border: 1px solid #c0c0c0;
	box-shadow: 0 0 0 2px #d8d8d8 inset;
	font-family: 'Arial', sans-serif;
}

@keyframes search-open {
	0% {
		width: 0;
	}
	100% {
		width: 190px;
	}
}

.page-main__search--opened input {
	animation: search-open 0.3s; 
	display: block;
}

.page-main-wrapper {
	width: 91%;
	margin: 0 auto;
}

.page-main__title-container {
	background-color: rgba(0, 0, 0, 0.8);
}

.page-main__title {
	margin: 0;
	position: relative;
	@include font-set(28px, 46px, 300);
	background-color: rgba(0, 0, 0, 0.8);
	color: #ffffff;
	text-align: center;
}

@media (min-width: 660px) {
	.page-main-wrapper {
		width: 92%;
		margin: 0 auto;
	}
}

@media (min-width: 960px) {
	.page-main {
		margin-top: 0;
	}

	.page-main__column:first-child {
		width: 67%;
		max-width: 785px;
	}

	.page-main__column:last-child {
		margin-top: -50px;
		box-sizing: border-box;
		width: 33%;
		padding-left: 10px;
		padding-right: 20px;
		max-width: 385px;
	}

	.page-main-wrapper {
		width: 95%;
		box-sizing: border-box;
		max-width: 1120px;
		margin: 0 auto;
		display: flex;
		background-color: #e9e9e9;
	}

	.page-main__title {
		font-size: 34px;
		background-color: transparent;
		color: $main-text-color;
		text-align: left;
	}

	.page-main__title-container {
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		width: 67%;
		padding-right: 50px;
		padding-left: 45px;
		padding-top: 40px;
		background-color: #e9e9e9;
	}

	.page-main__search {
		margin: 0;
		margin-top: 4px;
		position: relative;
	}

	.page-main__search input {
		display: block;
		position: relative;
		top: 3px;
		right: 0;
		width: 255px;
	}

	.page-main__search::after {
		content: "";
		position: absolute;
		width: 18px;
		height: 18px;
		top: 17px;
		right: 13px;
		background-image: url("../../img/search-icon.svg");
		opacity: 0.3;
	}
}



