.page-header {
	position: relative;
	min-height: 110px;
	background-color: #000000;
	background-image: url("../img/header-bg-desktop.jpg");
	background-repeat: no-repeat;
	background-position: center 25%;
}

@media (min-width: 960px) {
	.page-header {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		min-height: 155px;
	}
}