.sign-up {
	display: none;
	background-color: #dadada;
	box-shadow: 0 0 5px 0 #999999;
	border-radius: 5px;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 5px;

	@media (min-width: 960px) {
		display: block;
	}
}

.sign-up__title {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 12px;

	color: $main-text-color;
	border-bottom: 1px solid #c3c3c3;
	@include font-set(28px, 28px, 300);
}

.sign-up__form {
	display: flex;
	flex-direction: column;
}

.sign-up__field {
	margin: 0;
	margin-bottom: 8px;
}

.sign-up__field input {
	width: 100%;
	padding: 16px;
	box-sizing: border-box;

	background-color: #eeeeee;
	border: 1px solid #c0c0c0;
	box-shadow: 0 0 0 2px #d8d8d8 inset;

	@include font-set(16px, 16px, normal);
	font-family: 'Arial', sans-serif;
	color: #a3a3a3;
}

.sign-up__terms {
	margin: 0;
	@include font-set(11px, 13px, normal);
	font-family: 'Arial', sans-serif;
	color: #000000;
	text-align: center;
}

.sign-up__link {
	color: #000000;
	text-decoration: underline;
}

.sign-up__submit-btn {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 140px;
	align-self: flex-end;
	padding: 11px 0;
	@include font-set(14px, 18px, bold);
	font-family: 'Arial', sans-serif;
	background-color: #eeeeee;
	border: 1px solid #c6c6c6;
	box-shadow: 0 2px 2px 0 #bebebe;
	border-radius: 5px;
	color: #949494;
	outline: none;

	&:hover {
		background-color: #ffffff;
	}

	&:active {
		transition: 0.2s;
		box-shadow: none;
		transform: translateY(3px);
	}
}