body {
	min-width: 320px;
	font-family: 'Oswald', 'Arial', sans-serif;
  background-color: #1f1f1f;
}

a {
	text-decoration: none;
	color: $menu-text-color;
}

.visually-hidden {
  	position: absolute;
  	clip: rect(1px 1px 1px 1px);
  	padding: 0;
  	border: 0;
  	height: 1px;
  	width: 1px;
  	overflow: hidden;
}

.wrapper {
	width: 91%;
	margin: 0 auto;
}

@media (min-width: 660px) {
  .wrapper {
    width: 92%;
  }
}

@media (min-width: 960px) {
  .wrapper {
    width: 96%;
    max-width: 1170px;
  }
}